<nav class="navbar navbar-dark navbar-expand-lg bg-light py-lg-3" id="mainNav">
<a class="navbar-brand " href="/"><img class="logoimg" src="/bundles/img/logo_alexTech.png" alt="Alex-tech"></a>
    <div class="container-fluid"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item mr-5">
              <a class="nav-link active" aria-current="page" href="{{path('home')}}"><span class="text-color-three">À</span> propos</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="{{path('projets')}}">Réalisations</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="{{path('tarifs')}}">Tarifs</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="{{path('contact')}}">Demande de devis</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
